@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or your custom CSS file */
.desc {
  margin-top: 0.5rem;
  font-size: 0.875rem; /* Similar to text-sm */
  color: #6B7280; /* Similar to text-gray-500 */
  min-height: 40px;
  max-width: 100%; /* Allow full width */
  word-wrap: break-word;
  overflow: hidden;
  
  /* Multi-line truncation */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  line-height: 1.5; /* Adjust line height if needed */
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: whitesmoke; 
  border: 1px solid #6B7280;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: blue;
  border-radius: 50%;
  cursor: pointer;
}

